---
import Layout from '../layouts/Layout.astro';
const colors = Array.from({ length: 16 }, (_, i) => i);
const grays = Array.from({ length: 15 }, (_, i) => i);
const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---
<style>
  .swatches li { 
    padding: var(--spacing-2xs); 
		width: var(--spacing-3xl);
		height: auto;
		border-radius: var(--radius-md);
		box-shadow: var(--shadow-md);
		border: 1px solid var(--surface-2);
  }
  .swatches li:nth-child(-n+6) {
    color: var(--color-gray-9);   
  }
  .swatches li:nth-child(n+6) {
    color: var(--color-gray-2);  
  }
  .swatches li:last-child {
    color: red;   
  }

  h2 { 
    font-size: var(--text-lg);
    flex: none; 
    width: var(--spacing-3xl);
  }

  .red li {
    &:nth-child(0) { background-color: var(--color-red-0) } 
    &:nth-child(1) { background-color: var(--color-red-1) } 
    &:nth-child(2) { background-color: var(--color-red-2) } 
    &:nth-child(3) { background-color: var(--color-red-3) } 
    &:nth-child(4) { background-color: var(--color-red-4) }
    &:nth-child(5) { background-color: var(--color-red-5) } 
    &:nth-child(6) { background-color: var(--color-red-6) } 
    &:nth-child(7) { background-color: var(--color-red-7) }   
    &:nth-child(8) { background-color: var(--color-red-8) } 
    &:nth-child(9) { background-color: var(--color-red-9) } 
    &:nth-child(10) { background-color: var(--color-red-10) } 
    &:nth-child(11) { background-color: var(--color-red-11) } 
    &:nth-child(12) { background-color: var(--color-red-12) } 
    &:nth-child(13) { background-color: var(--color-red-13) } 
    &:nth-child(14) { background-color: var(--color-red-14) } 
    &:nth-child(15) { background-color: var(--color-red-15) }
    &:nth-child(16) { background-color: var(--color-red-bright) }
  }
  .pink li {
    &:nth-child(0) { background-color: var(--color-pink-0) } 
    &:nth-child(1) { background-color: var(--color-pink-1) } 
    &:nth-child(2) { background-color: var(--color-pink-2) } 
    &:nth-child(3) { background-color: var(--color-pink-3) } 
    &:nth-child(4) { background-color: var(--color-pink-4) }
    &:nth-child(5) { background-color: var(--color-pink-5) } 
    &:nth-child(6) { background-color: var(--color-pink-6) } 
    &:nth-child(7) { background-color: var(--color-pink-7) }   
    &:nth-child(8) { background-color: var(--color-pink-8) } 
    &:nth-child(9) { background-color: var(--color-pink-9) } 
    &:nth-child(10) { background-color: var(--color-pink-10) } 
    &:nth-child(11) { background-color: var(--color-pink-11) } 
    &:nth-child(12) { background-color: var(--color-pink-12) } 
    &:nth-child(13) { background-color: var(--color-pink-13) } 
    &:nth-child(14) { background-color: var(--color-pink-14) } 
    &:nth-child(15) { background-color: var(--color-pink-15) }
    &:nth-child(16) { background-color: var(--color-pink-bright) }
  }
  .purple li {
    &:nth-child(0) { background-color: var(--color-purple-0) } 
    &:nth-child(1) { background-color: var(--color-purple-1) } 
    &:nth-child(2) { background-color: var(--color-purple-2) } 
    &:nth-child(3) { background-color: var(--color-purple-3) } 
    &:nth-child(4) { background-color: var(--color-purple-4) }
    &:nth-child(5) { background-color: var(--color-purple-5) } 
    &:nth-child(6) { background-color: var(--color-purple-6) } 
    &:nth-child(7) { background-color: var(--color-purple-7) }   
    &:nth-child(8) { background-color: var(--color-purple-8) } 
    &:nth-child(9) { background-color: var(--color-purple-9) } 
    &:nth-child(10) { background-color: var(--color-purple-10) } 
    &:nth-child(11) { background-color: var(--color-purple-11) } 
    &:nth-child(12) { background-color: var(--color-purple-12) } 
    &:nth-child(13) { background-color: var(--color-purple-13) } 
    &:nth-child(14) { background-color: var(--color-purple-14) } 
    &:nth-child(15) { background-color: var(--color-purple-15) }
    &:nth-child(16) { background-color: var(--color-purple-bright) }
  }
  .violet li {
    &:nth-child(0) { background-color: var(--color-violet-0) } 
    &:nth-child(1) { background-color: var(--color-violet-1) } 
    &:nth-child(2) { background-color: var(--color-violet-2) } 
    &:nth-child(3) { background-color: var(--color-violet-3) } 
    &:nth-child(4) { background-color: var(--color-violet-4) }
    &:nth-child(5) { background-color: var(--color-violet-5) } 
    &:nth-child(6) { background-color: var(--color-violet-6) } 
    &:nth-child(7) { background-color: var(--color-violet-7) }   
    &:nth-child(8) { background-color: var(--color-violet-8) } 
    &:nth-child(9) { background-color: var(--color-violet-9) } 
    &:nth-child(10) { background-color: var(--color-violet-10) } 
    &:nth-child(11) { background-color: var(--color-violet-11) } 
    &:nth-child(12) { background-color: var(--color-violet-12) } 
    &:nth-child(13) { background-color: var(--color-violet-13) } 
    &:nth-child(14) { background-color: var(--color-violet-14) } 
    &:nth-child(15) { background-color: var(--color-violet-15) }
    &:nth-child(16) { background-color: var(--color-violet-bright) }
  }
  .indigo li {
    &:nth-child(0) { background-color: var(--color-indigo-0) } 
    &:nth-child(1) { background-color: var(--color-indigo-1) } 
    &:nth-child(2) { background-color: var(--color-indigo-2) } 
    &:nth-child(3) { background-color: var(--color-indigo-3) } 
    &:nth-child(4) { background-color: var(--color-indigo-4) }
    &:nth-child(5) { background-color: var(--color-indigo-5) } 
    &:nth-child(6) { background-color: var(--color-indigo-6) } 
    &:nth-child(7) { background-color: var(--color-indigo-7) }   
    &:nth-child(8) { background-color: var(--color-indigo-8) } 
    &:nth-child(9) { background-color: var(--color-indigo-9) } 
    &:nth-child(10) { background-color: var(--color-indigo-10) } 
    &:nth-child(11) { background-color: var(--color-indigo-11) } 
    &:nth-child(12) { background-color: var(--color-indigo-12) } 
    &:nth-child(13) { background-color: var(--color-indigo-13) } 
    &:nth-child(14) { background-color: var(--color-indigo-14) } 
    &:nth-child(15) { background-color: var(--color-indigo-15) }
    &:nth-child(16) { background-color: var(--color-indigo-bright) }
  }
  .blue li {
    &:nth-child(0) { background-color: var(--color-blue-0) } 
    &:nth-child(1) { background-color: var(--color-blue-1) } 
    &:nth-child(2) { background-color: var(--color-blue-2) } 
    &:nth-child(3) { background-color: var(--color-blue-3) } 
    &:nth-child(4) { background-color: var(--color-blue-4) }
    &:nth-child(5) { background-color: var(--color-blue-5) } 
    &:nth-child(6) { background-color: var(--color-blue-6) } 
    &:nth-child(7) { background-color: var(--color-blue-7) }   
    &:nth-child(8) { background-color: var(--color-blue-8) } 
    &:nth-child(9) { background-color: var(--color-blue-9) } 
    &:nth-child(10) { background-color: var(--color-blue-10) } 
    &:nth-child(11) { background-color: var(--color-blue-11) } 
    &:nth-child(12) { background-color: var(--color-blue-12) } 
    &:nth-child(13) { background-color: var(--color-blue-13) } 
    &:nth-child(14) { background-color: var(--color-blue-14) } 
    &:nth-child(15) { background-color: var(--color-blue-15) }
    &:nth-child(16) { background-color: var(--color-blue-bright) }
  }
  .cyan li {
    &:nth-child(0) { background-color: var(--color-cyan-0) } 
    &:nth-child(1) { background-color: var(--color-cyan-1) } 
    &:nth-child(2) { background-color: var(--color-cyan-2) } 
    &:nth-child(3) { background-color: var(--color-cyan-3) } 
    &:nth-child(4) { background-color: var(--color-cyan-4) }
    &:nth-child(5) { background-color: var(--color-cyan-5) } 
    &:nth-child(6) { background-color: var(--color-cyan-6) } 
    &:nth-child(7) { background-color: var(--color-cyan-7) }   
    &:nth-child(8) { background-color: var(--color-cyan-8) } 
    &:nth-child(9) { background-color: var(--color-cyan-9) } 
    &:nth-child(10) { background-color: var(--color-cyan-10) } 
    &:nth-child(11) { background-color: var(--color-cyan-11) } 
    &:nth-child(12) { background-color: var(--color-cyan-12) } 
    &:nth-child(13) { background-color: var(--color-cyan-13) } 
    &:nth-child(14) { background-color: var(--color-cyan-14) } 
    &:nth-child(15) { background-color: var(--color-cyan-15) }
    &:nth-child(16) { background-color: var(--color-cyan-bright) }
  }
  .teal li {
    &:nth-child(0) { background-color: var(--color-teal-0) } 
    &:nth-child(1) { background-color: var(--color-teal-1) } 
    &:nth-child(2) { background-color: var(--color-teal-2) } 
    &:nth-child(3) { background-color: var(--color-teal-3) } 
    &:nth-child(4) { background-color: var(--color-teal-4) }
    &:nth-child(5) { background-color: var(--color-teal-5) } 
    &:nth-child(6) { background-color: var(--color-teal-6) } 
    &:nth-child(7) { background-color: var(--color-teal-7) }   
    &:nth-child(8) { background-color: var(--color-teal-8) } 
    &:nth-child(9) { background-color: var(--color-teal-9) } 
    &:nth-child(10) { background-color: var(--color-teal-10) } 
    &:nth-child(11) { background-color: var(--color-teal-11) } 
    &:nth-child(12) { background-color: var(--color-teal-12) } 
    &:nth-child(13) { background-color: var(--color-teal-13) } 
    &:nth-child(14) { background-color: var(--color-teal-14) } 
    &:nth-child(15) { background-color: var(--color-teal-15) }
    &:nth-child(16) { background-color: var(--color-teal-bright) }
  }
  .green li {
    &:nth-child(0) { background-color: var(--color-green-0) } 
    &:nth-child(1) { background-color: var(--color-green-1) } 
    &:nth-child(2) { background-color: var(--color-green-2) } 
    &:nth-child(3) { background-color: var(--color-green-3) } 
    &:nth-child(4) { background-color: var(--color-green-4) }
    &:nth-child(5) { background-color: var(--color-green-5) } 
    &:nth-child(6) { background-color: var(--color-green-6) } 
    &:nth-child(7) { background-color: var(--color-green-7) }   
    &:nth-child(8) { background-color: var(--color-green-8) } 
    &:nth-child(9) { background-color: var(--color-green-9) } 
    &:nth-child(10) { background-color: var(--color-green-10) } 
    &:nth-child(11) { background-color: var(--color-green-11) } 
    &:nth-child(12) { background-color: var(--color-green-12) } 
    &:nth-child(13) { background-color: var(--color-green-13) } 
    &:nth-child(14) { background-color: var(--color-green-14) } 
    &:nth-child(15) { background-color: var(--color-green-15) }
    &:nth-child(16) { background-color: var(--color-green-bright) }
  }
  .lime li {
    &:nth-child(0) { background-color: var(--color-lime-0) } 
    &:nth-child(1) { background-color: var(--color-lime-1) } 
    &:nth-child(2) { background-color: var(--color-lime-2) } 
    &:nth-child(3) { background-color: var(--color-lime-3) } 
    &:nth-child(4) { background-color: var(--color-lime-4) }
    &:nth-child(5) { background-color: var(--color-lime-5) } 
    &:nth-child(6) { background-color: var(--color-lime-6) } 
    &:nth-child(7) { background-color: var(--color-lime-7) }   
    &:nth-child(8) { background-color: var(--color-lime-8) } 
    &:nth-child(9) { background-color: var(--color-lime-9) } 
    &:nth-child(10) { background-color: var(--color-lime-10) } 
    &:nth-child(11) { background-color: var(--color-lime-11) } 
    &:nth-child(12) { background-color: var(--color-lime-12) } 
    &:nth-child(13) { background-color: var(--color-lime-13) } 
    &:nth-child(14) { background-color: var(--color-lime-14) } 
    &:nth-child(15) { background-color: var(--color-lime-15) }
    &:nth-child(16) { background-color: var(--color-lime-bright) }
  }
  .yellow li {
    &:nth-child(0) { background-color: var(--color-yellow-0) } 
    &:nth-child(1) { background-color: var(--color-yellow-1) } 
    &:nth-child(2) { background-color: var(--color-yellow-2) } 
    &:nth-child(3) { background-color: var(--color-yellow-3) } 
    &:nth-child(4) { background-color: var(--color-yellow-4) }
    &:nth-child(5) { background-color: var(--color-yellow-5) } 
    &:nth-child(6) { background-color: var(--color-yellow-6) } 
    &:nth-child(7) { background-color: var(--color-yellow-7) }   
    &:nth-child(8) { background-color: var(--color-yellow-8) } 
    &:nth-child(9) { background-color: var(--color-yellow-9) } 
    &:nth-child(10) { background-color: var(--color-yellow-10) } 
    &:nth-child(11) { background-color: var(--color-yellow-11) } 
    &:nth-child(12) { background-color: var(--color-yellow-12) } 
    &:nth-child(13) { background-color: var(--color-yellow-13) } 
    &:nth-child(14) { background-color: var(--color-yellow-14) } 
    &:nth-child(15) { background-color: var(--color-yellow-15) }
    &:nth-child(16) { background-color: var(--color-yellow-bright) }
  }
  .orange li {
    &:nth-child(0) { background-color: var(--color-orange-0) } 
    &:nth-child(1) { background-color: var(--color-orange-1) } 
    &:nth-child(2) { background-color: var(--color-orange-2) } 
    &:nth-child(3) { background-color: var(--color-orange-3) } 
    &:nth-child(4) { background-color: var(--color-orange-4) }
    &:nth-child(5) { background-color: var(--color-orange-5) } 
    &:nth-child(6) { background-color: var(--color-orange-6) } 
    &:nth-child(7) { background-color: var(--color-orange-7) }   
    &:nth-child(8) { background-color: var(--color-orange-8) } 
    &:nth-child(9) { background-color: var(--color-orange-9) } 
    &:nth-child(10) { background-color: var(--color-orange-10) } 
    &:nth-child(11) { background-color: var(--color-orange-11) } 
    &:nth-child(12) { background-color: var(--color-orange-12) } 
    &:nth-child(13) { background-color: var(--color-orange-13) } 
    &:nth-child(14) { background-color: var(--color-orange-14) } 
    &:nth-child(15) { background-color: var(--color-orange-15) }
    &:nth-child(16) { background-color: var(--color-orange-bright) }
  }
  .gray li {
    &:nth-child(0) { background-color: var(--color-gray-0) } 
    &:nth-child(1) { background-color: var(--color-gray-1) } 
    &:nth-child(2) { background-color: var(--color-gray-2) } 
    &:nth-child(3) { background-color: var(--color-gray-3) } 
    &:nth-child(4) { background-color: var(--color-gray-4) }
    &:nth-child(5) { background-color: var(--color-gray-5) } 
    &:nth-child(6) { background-color: var(--color-gray-6) } 
    &:nth-child(7) { background-color: var(--color-gray-7) }   
    &:nth-child(8) { background-color: var(--color-gray-8) } 
    &:nth-child(9) { background-color: var(--color-gray-9) } 
    &:nth-child(10) { background-color: var(--color-gray-10) } 
    &:nth-child(11) { background-color: var(--color-gray-11) } 
    &:nth-child(12) { background-color: var(--color-gray-12) } 
    &:nth-child(13) { background-color: var(--color-gray-13) } 
    &:nth-child(14) { background-color: var(--color-gray-14) } 
    &:nth-child(15) { background-color: var(--color-gray-15) }
  }
  .slate li {
    &:nth-child(0) { background-color: var(--color-slate-0) } 
    &:nth-child(1) { background-color: var(--color-slate-1) } 
    &:nth-child(2) { background-color: var(--color-slate-2) } 
    &:nth-child(3) { background-color: var(--color-slate-3) } 
    &:nth-child(4) { background-color: var(--color-slate-4) }
    &:nth-child(5) { background-color: var(--color-slate-5) } 
    &:nth-child(6) { background-color: var(--color-slate-6) } 
    &:nth-child(7) { background-color: var(--color-slate-7) }   
    &:nth-child(8) { background-color: var(--color-slate-8) } 
    &:nth-child(9) { background-color: var(--color-slate-9) } 
    &:nth-child(10) { background-color: var(--color-slate-10) } 
    &:nth-child(11) { background-color: var(--color-slate-11) } 
    &:nth-child(12) { background-color: var(--color-slate-12) } 
    &:nth-child(13) { background-color: var(--color-slate-13) } 
    &:nth-child(14) { background-color: var(--color-slate-14) } 
    &:nth-child(15) { background-color: var(--color-slate-15) }
  }
  .stone li {
    &:nth-child(0) { background-color: var(--color-stone-0) } 
    &:nth-child(1) { background-color: var(--color-stone-1) } 
    &:nth-child(2) { background-color: var(--color-stone-2) } 
    &:nth-child(3) { background-color: var(--color-stone-3) } 
    &:nth-child(4) { background-color: var(--color-stone-4) }
    &:nth-child(5) { background-color: var(--color-stone-5) } 
    &:nth-child(6) { background-color: var(--color-stone-6) } 
    &:nth-child(7) { background-color: var(--color-stone-7) }   
    &:nth-child(8) { background-color: var(--color-stone-8) } 
    &:nth-child(9) { background-color: var(--color-stone-9) } 
    &:nth-child(10) { background-color: var(--color-stone-10) } 
    &:nth-child(11) { background-color: var(--color-stone-11) } 
    &:nth-child(12) { background-color: var(--color-stone-12) } 
    &:nth-child(13) { background-color: var(--color-stone-13) } 
    &:nth-child(14) { background-color: var(--color-stone-14) } 
    &:nth-child(15) { background-color: var(--color-stone-15) }
  }
</style>

<Layout {title} {description}>
  <main id="main-content">
    <h1>Colors</h1>
  
    <div class='flex'>
      <h2>Red</h2>
      <ul role="list" class="red swatches flex">
        {colors.map((i) => (
          <li class={`bg-red-${i}`}>{i}</li>
        ))}
      </ul>
    </div>
  
  <div class='flex'>
    <h2>Pink</h2>
    <ul role="list" class="pink swatches flex">
      {colors.map((i) => (
        <li class={`bg-pink-${i}`}>{i}</li>
      ))}
    </ul>
  </div>
  
  <div class='flex'>
    <h2>Purple</h2>
    <ul role="list" class="purple swatches flex">
      {colors.map((i) => (
        <li class={`bg-purple-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Violet</h2>
    <ul role="list" class="violet swatches flex">
      {colors.map((i) => (
        <li class={`bg-violet-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Indigo</h2>
    <ul role="list" class="indigo swatches flex">
      {colors.map((i) => (
        <li class={`bg-indigo-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Blue</h2>
    <ul role="list" class="blue swatches flex">
      {colors.map((i) => (
        <li class={`bg-blue-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Cyan</h2>
    <ul role="list" class="cyan swatches flex">
      {colors.map((i) => (
        <li class={`bg-cyan-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Teal</h2>
    <ul role="list" class="teal swatches flex">
      {colors.map((i) => (
        <li class={`bg-teal-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Green</h2>
    <ul role="list" class="green swatches flex">
      {colors.map((i) => (
        <li class={`bg-green-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Lime</h2>
    <ul role="list" class="lime swatches flex">
      {colors.map((i) => (
        <li class={`bg-lime-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Yellow</h2>
    <ul role="list" class="yellow swatches flex">
      {colors.map((i) => (
        <li class={`bg-yellow-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Orange</h2>
    <ul role="list" class="orange swatches flex">
      {colors.map((i) => (
        <li class={`bg-orange-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Gray</h2>
    <ul role="list" class="gray swatches flex">
      {grays.map((i) => (
        <li class={`bg-gray-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Slate</h2>
    <ul role="list" class="slate swatches flex">
      {grays.map((i) => (
        <li class={`bg-slate-${i}`}>{i}</li>
      ))}
    </ul>
  </div>

  <div class='flex'>
    <h2>Stone</h2>
    <ul role="list" class="stone swatches flex">
      {grays.map((i) => (
        <li class={`bg-stone-${i}`}>{i}</li>
      ))}
    </ul>
  </div>
</main>
</Layout>